body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #2d7a35;
  margin-top: 20px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chat-box {
  background-color: #d3cdcd;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.message {
  margin-bottom: 20px;
}

.user {
  background-color: #70c689;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.bot {
  background-color: #b2999996;
  padding: 10px;
  border-radius: 5px;
}

.share-button {
  display:inline-block;
  background-color: #25d366;
  color: rgb(255, 255, 255);
  padding: 10px 6px;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 20px;
}

